<!--
      <% @items.each do |item| %>
       <%= item.name %>
       <%= item.bunrui %></td>
       <%= item.bangou %></td>
       <% item.tags.each do |tag| %>
        <%= tag.name %>
       <% end %>
       <br />
      <% end %> -->



  <div class="container, clearfix">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Bunrui</th>
          <th>Bangou</th>
          <th>Tag</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= link_to item.name, item %></td>
            <td><%= item.bunrui %></td>
            <td><%= item.bangou %></td>
            <td><%= render "items/tag_list", tag_list: item.tag_list %></td>
            <td><%= link_to edit_item_path(item) do %>
              <span class="fa fa-pencil" aria-hidden="true"></span><% end %>
            </td>
            <td><%= link_to item, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="fa fa-asterisk"></span><% end %>
            </td>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to 'Back', items_path %>
